
<div class="page">
    <h1>Entrer votre nom et votre age.</h1>
    <p>Vous devez avoir entre 10 ans et 110 ans pour vous inscrire.</p>
  
    <div>
      <form
        class="form"
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
      >
        <mat-form-field>
          <mat-label>Nom</mat-label>
          <input
            matInput
            placeholder="nom"
            name="name"
            type="text"
            formControlName="name"
          />
          @if (showNameRequiredError()) {
            <mat-error>Entrer votre nom</mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label>Âge</mat-label>
          <input
            matInput
            type="number"
            placeholder="age"
            name="âge"
            type="text"
            formControlName="age"
          />
          @if(showAgeRequiredError()) {
            <mat-error>Entrer votre âge</mat-error>
          }
          @if(showAgeMinError()) {
            <mat-error>Votre age devrait être supérieur à 10</mat-error>
          }
          @if(showAgeMaxError()) {
            <mat-error>Votre age devrait être inférieur à 110</mat-error>
          }
          @if(showAgePatternError()) {
            <mat-error>Entrer un nombre valide</mat-error>
          }
        </mat-form-field>
  
        <button mat-raised-button type="submit">Soumettre</button>
      </form>
    </div>
  </div>
  